.grid-movie-title {
    display: grid;
    grid-template-areas: "movieType . paginate";
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 1fr;
    margin-bottom: 30px;
    font-size: 18px;
    // color: #ffffff;
    width: inherit;
    padding: 8px 25px;
    .movieType {
      grid-area: movieType;
      text-align: left;
    }
  
    .paginate {
      grid-area: paginate;
      text-align: right;

      .pageCount{
        padding-right: 5px;
      }
    }
}
  