
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
}
@import "../css/base/variables.scss";
@import "../css/base/baseline.scss";
@import "../css/base/utility-classes.scss";

@import "../css/modules/shame.scss";
@import "../css/modules/btn.scss";
@import "../css/modules/generic-content.scss";
@import "../css/modules/headline.scss";
@import "../css/modules/main-navigation.scss";
@import "../css/modules/search-overlay.scss";
@import "../css/modules/site-footer.scss";
@import "../css/modules/site-header.scss";
@import "../css/modules/page-banner.scss";
@import "../css/modules/carousel-slider.scss";
@import "../css/modules/grid-movie-title.scss";

@import "../css/modules/Grid.scss";
@import "../css/modules/Rating.scss";
@import "../css/modules/Details.scss";
@import "../css/modules/Overview.scss";
@import "../css/modules/Reviews.scss";
@import "../css/modules/Media.scss";
@import "../css/modules/Crew.scss";
@import "../css/modules/tabs-antd.scss";
